<template>
  <div id="home">
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <draggable v-model="aPhotos" draggable=".item" class="photos">
            <div v-for="photo in aPhotos"
                :key="photo.id"
                class="item">
              <a @click="showModal(photo.id)"><img :src="`${photo.thumbnailUrl}`" :title="`${photo.title}`" :id="`${photo.id}`" /></a>
            </div>
          </draggable>
        </b-col>
      </b-row>
    </b-container>

    <b-modal ref="modal" size="lg" hide-footer>
      <template slot="modal-title">
        <h5>{{title}}</h5>
      </template>
      <div class="d-block text-center">
        <img :src="`${url}`" :title="`${title}`" :id="`${id}`" class="img-responsive" />
      </div>
    </b-modal>
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'home',
  data () {
    return {
      id: 0,
      url: '',
      title: '',
      aPhotos: []
    }
  },
  components: {
    draggable
  },
  mounted() {
    this.axios.get("https://jsonplaceholder.typicode.com/photos?albumId=1")
      .then(res => {
          this.aPhotos = this.sort(res.data)
      })
      .catch(error => {
          this.response = 'Error: ' + error.response
          console.log('Error 123')
      })
  },
  methods: {
    showModal(idPhoto) {
      this.$refs['modal'].show()
      let config = {
          headers: {'Access-Control-Allow-Origin': '*',
          crossdomain: true }
      };
      this.axios.get("https://jsonplaceholder.typicode.com/photos?id=" + idPhoto, config).then(res => {

        this.url = res.data[0].url
        this.title = res.data[0].title
        this.id = res.data[0].id
      })
      .catch(error => {
          this.response = 'Error: ' + error.response
          console.log('Error')
      })
    },
    sort(photos) {
      let numberVa,numberVb;

      let vPhotos = photos.slice(0,photos.length).sort(function(a, b){
        numberVa = a.title.match(/[aeiou]/gi).length;
        numberVb = b.title.match(/[aeiou]/gi).length;

        let cVocals = (numberVa - numberVb);

        if(cVocals == 0){
          return b.id - a.id;
        }else{
          return numberVa - numberVb;
        }
        
      })

      return vPhotos;
    }
  }
}
</script>

<style lang="scss">
  .img-responsive{
    max-width: 100%;
    height: auto;
  }

  .photos{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: center;
    text-align: center;
    @media(min-width: 768px){
      justify-content: flex-start;
      text-align: left;
    }
  }

  .photos > div{
    flex:1;
    margin-bottom: 10px;
  }

  a{
    cursor: pointer;
  }

</style>
